<h1>$$$$$$$$$$$</h1>
	<div ng-controller="ctrl">
		<section class="ticket-container">
			<!--header-->
			<header class="qui-header">
				<p class="qui-header-menu">
					<span class="qui-menu-icon">
						<img src="img/common/more2.jpg"/>
					</span>
				</p>
				<p class="qui-header-logo">
					<a ui-sref="home">
						<img src="http://common1.qyerstatic.com/mbbs/basic/images/topbar-logo.png"/>
					</a>
				</p>
			</header>
			<!--ticket-tab-->
			<form class="ticket-tab">
				<div class="ticket-menu">
					<a ng-click='showreturn()' class="return chooseNow">往返机票</a>
					<a ng-click='showsingel()' class="singel">单程机票</a>
				</div>
				<div class="ticketinfo-tab">
					<div class="return-ticket">
						<ul>
							<li class="from-city">
								<span>出发城市</span>
								<b>请输入出发城市</b>
							</li>
							<li class="to-city">
								<span>到达城市</span>
								<b>请输入到达城市</b>
							</li>
							<li class="go-time">
								<span style="font-size: 12px;">去程日期</span>
								<b>2016-11-19</b>
							</li>
							<li class="return-time">
								<span style="font-size: 12px;">返程日期</span>
								<b>2016-11-22</b>
							</li>
							<li class="more-option">
								<span>更多选项</span>
								<img src="http://static.qyer.com/m/project/flight/images/new/more.png"/>
							</li>
							<li class="buyinfo">
								<span>成人</span>
								<img src="../../img/jian.png"/  class="jian">
					 			<input type="text" value="1"/>
								<img src="../../img/add.png"/  class="add">
							</li>
						</ul>
					</div>
					<div class="oneway-ticket">
						<ul>
							<li class="from-city">
								<span>出发城市</span>
								<b>请输入出发城市</b>
							</li>
							<li class="to-city">
								<span>到达城市</span>
								<b>请输入到达城市</b>
							</li>
							<li class="go-time">
								<span style="font-size: 12px;">去程日期</span>
								<b>2016-11-19</b>
							</li>
							<li class="more-option">
								<span>更多选项</span>
								<img src="http://static.qyer.com/m/project/flight/images/new/more.png"/>
							</li>
							<li class="buyinfo">
								<span>成人</span>
								<img src="../../img/jian.png"/  class="jian">
					 			<input type="text" value="1"/>
								<img src="../../img/add.png"/  class="add">
							</li>
						</ul>
					</div>
					<div class="change">
						<img src="http://static.qyer.com/m/project/flight/images/new/refresh.png"/>
					</div>
				</div>
				<!--search-ticket-->
				<div class="search-ticket">
					<input type="button" value="搜索机票"/>
				</div>
			</form>
			<!--data-apply-->
			<div class="data-apply">
				<p style="font-size: 9px;">数据支持</p>
				<img src="http://static.qyer.com/m/project/flight/images/new/copyright.jpg"/>
			</div>
			<div class="footer">
				<p>2004-2015&copy;穷游网qyer.com All rights reserved.</p>
				<p>
					<a href="">手机版</a>
					<a href="">电脑版</a>
					<a href="">APP</a>
				</p>
			</div>
		</section>
	</div>	
