<div >
<header ng-click="showAside()">
	<span class="title"></span> 
	<span class="title-mine" ui-sref="mine"><span class="title-pic"></span>我的</span>
</header>
<!--轮播图-->
<div class="swiper-container bottom-black">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><a><img src="img/home/swiper1.png"></a></div>
		<div class="swiper-slide"><a><img src="img/home/swiper2.png"></a></div>
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="search">
	<input type="text" placeholder="搜索目的地/游记攻略/问答" class="search-inp"/>
</div>
<nav>
	<div style="background-color: #ffbd56;"><span class="icon"><img src="img/icon/icon-dest.jpg"></span><span class="name" style="background: url(img/icon/icon-dest-bottom.png)no-repeat;background-size: 100% 100%;">目的地</span></div>
	
	<div style="background-color: #25d9b2;"><span class="icon"><img src="img/icon/icon-plan.jpg"></span><span class="name" style="background-color: #16c59f;">行程</span></div>
	
	<div style="background-color: #5dcce7;"><span class="icon"><img src="img/icon/icon-book.jpg"></span><span class="name" style="background-color: #52c1dc;">游记攻略</span></div>
	
	<div style="background-color: #fb9388;"><span class="icon"><img src="img/icon/icon-shop.jpg"></span><span class="name" style="background-color: #ee8479;">商城</span></div>
	
	<div style="background-color: #5da1e7;"><span class="icon"><img src="img/icon/icon-ques.jpg"></span><span class="name" style="background-color: #5197e0;">提问</span></div>
	
	<div style="background-color: #ffa071;"><span class="icon"><img src="img/icon/icon-host.jpg"></span><span class="name" style="background-color: #f88f5a;">酒店</span></div>
	
	<div style="background-color: #fcca00;"><span class="icon"><img src="img/icon/icon-play.jpg"></span><span class="name" style="background-color: #e7b900;">会玩</span></div>
	<div  ng-click="showNav()" style="background-color: #ced1d5;" class="first-more"><span class="icon icon-up"><img src="img/icon/icon-more.jpg"></span><span  style="background-color: #b0b2b4;">更多</span></div>
	<div style="background-color: #b993ff;"><span class="icon"><img src="img/icon/icon-fly.jpg"></span><span class="name" style="background-color: #ab7dff;">机票</span></div>
	
	<div style="background-color: #ffbd56;"><span class="icon"><img src="img/icon/icon-good.jpg"></span><span class="name" style="background-color: #d2922f;">穷游锦囊</span></div>
	<div style="background-color: #9bde26;"><span class="icon"><img src="img/icon/icon-jne.jpg"></span><span class="name" style="background-color: #8cce1a;">JNE</span></div>
	<div style="background-color: #25d986;"><span class="icon"><img src="img/icon/icon-partner.jpg"></span><span class="name" style="background-color: #17c776;">结伴</span></div>
	<div ng-click='hideNav()' style="background-color: #ced1d5;"><span class="icon icon-up"><img src="img/icon/icon-up.jpg"></span><span class="name" style="background-color: #b0b2b4;">收起</span></div>
</nav>

<div class="shop">
	<h3>最世界商城<span class="shop-more">更多</span></h3>
	<div class="shop-superbuy">
		<a>
			<div class="shop-time">
				<span>0</span>
				<span>0</span>
				<span class="shop-icon">:</span>
				<span>0</span>
				<span>0</span>
				<span class="shop-icon">:</span>
				<span>0</span>
				<span>0</span>
			</div>
			<img src="img/home/super-buy.jpg" />
			<p>【拒签全退】特价加拿大往返机票(加拿大航空)</p>
			<span class="shop-buy buy-out">已抢光</span>
		</a>
	</div>
	<div class="shop-menu">
		<div>
			<h4 style="color: #fb9388;">门票</h4>
			<span>有意思</span>
			<img src="img/home/lm-ticket.png" width="75" height="52"/>
		</div>
		<div>
			<h4 style="color: #5dcce7;">自由行</h4>
			<span>最优惠</span>
			<img src="img/home/lm-sale.png" width="86" height="67" />
		</div>
		<br/>
		<div>
			<h4 style="color: #ffbd56;">签证</h4>
			<span>有保障</span>
			<img src="img/home/lm-visa.png" width="67" height="62"/>
		</div>
		<div>
			<h4 style="color: #d9b2;
};">WIFI/电话卡</h4>
			<span>全球覆盖</span>
			<img src="img/home/lm-wifi.png" width="55" height="79"/>
		</div>
	</div>
</div>
<div class="trip-article">
	<h3>游记与话题<span class="trip-more">更多</span></h3>
	<ul class="trip-show">
		<li>
			<a>
				<img src="img/home/275x185.jpg"/>
				<div class="article-info">
					<h4>今日话题|你选择去哪里过冬？</h4>
					<div><img src="img/home/200.jpg">穷游大秘书<img src="img/home/auth-grade.png"></div>
					<span class="commit-number">54</span>
				</div>
			</a>
		</li>
		<li>
			<a>
				<img src="img/home/275x185.jpg"/>
				<div class="article-info">
					<h4>今日话题|你选择去哪里过冬？</h4>
					<div><img src="img/home/200.jpg">穷游大秘书<img src="img/home/auth-grade.png"></div>
					<span class="commit-number">54</span>
				</div>
			</a>
		</li>
		<li>
			<a>
				<img src="img/home/275x185.jpg"/>
				<div class="article-info">
					<h4>今日话题|你选择去哪里过冬？</h4>
					<div><img src="img/home/200.jpg">穷游大秘书<img src="img/home/auth-grade.png"></div>
					<span class="commit-number">54</span>
				</div>
			</a>
		</li>
		<li>
			<a>
				<img src="img/home/275x185.jpg"/>
				<div class="article-info">
					<h4>今日话题|你选择去哪里过冬？</h4>
					<div><img src="img/home/200.jpg">穷游大秘书<img src="img/home/auth-grade.png"></div>
					<span class="commit-number">54</span>
				</div>
			</a>
		</li>
	</ul>
	<h3 class="article-more">展开更多</h3>
</div>
</div>