	<div ng-controller="hotTips">
		<section class="qui-page">
			<!--header-->
			<header class="qui-header">
				<p class="qui-header-menu">
					<span class="qui-menu-icon">
						<img src="img/common/more2.jpg"/>
					</span>
				</p>
				<p class="qui-header-logo">
					<a ui-sref="home">
						<img src="http://common1.qyerstatic.com/mbbs/basic/images/topbar-logo.png"/>
					</a>
				</p>
			</header>
			<!--tab-->
			<div class="tabWrap">
				<ul class="qui-nav">
					<li ng-click="showHotText()" class="hotText">
						<a class="chooseNow">热门话题</a>
					</li >
					<li ng-click="showWeekText()" class="weekText">
						<a>一周内热帖</a>
					</li>
				</ul>
				<div class="qui-tabContent">
					<div class="hotTips">
						<ul class="tabList clear">
							<li class="tabListItems"><a href="">【娜娜哈哈】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
						</ul>
					</div>
					<div class="weekTips">
						<ul class="tabList clear">
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
							<li class="tabListItems"><a href="">【娜娜出品】环行巴尔干，炫彩狂想曲——（克罗地亚+黑山+波黑15天，5万字+1000图）</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--commonTitle-->
			<h3 class="quiTeam commonTitle">穷游兴趣小组</h3>
			<!--quiTeamWrap-->
			<div class="quiTeamWrap quiTravel">
				<div class="quiTeamItems clear">
					<a ui-sref='travelTogether'>
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
				</div>
			</div>
			<!--commonTitle-->
			<h3 class="quiTeam commonTitle">穷游欧洲</h3>
			<!--quiTeamWrap-->
			<div class="quiEurop quiTravel">
				<div class="quiTeamItems clear">
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
					<a href="">
						<img src="img/common/group.png"/>
						<em>结伴同游</em>
					</a>
				</div>
			</div>
			<div class="footer">
				<p>2004-2015&copy;穷游网qyer.com All rights reserved.</p>
				<p>
					<a href="">手机版</a>
					<a href="">电脑版</a>
					<a href="">APP</a>
				</p>
			</div>
		</section>
	</div>	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
